<strong>Hauptmenü
<p></p>
<button routerLink='create'>Haus kreieren</button>
<p></p>
<button (click)="searchByType('Haus')">Sortieren nach Haus</button>
<p></p>
<button (click)="searchByType('Wohnung')">Sortieren nach Wohnung</button>
<p></p>
<button (click)="searchByType('Bauplatz')">Sortieren nach Bauplatz</button>
<p></p>
<button (click)="reset()">Zurücksetzen</button>
<p></p>
<input type="text" [(ngModel)]="searchAdresse" placeholder="Adresse eingeben" (keyup.enter)="searchByAdresse()">
  <div class="container">
    <div class="content"  *ngFor="let Haus of HausA">
      <mat-card class="item">
        <img routerLink="/haus/{{Haus.ID}}" routerLinkActive="active" ariaCurrentWhenActive="page"
        mat-card-image
        [src]="Haus.ppath ? 'http://localhost:8080/' + Haus.ppath : '../../assets/Haus.jpg'"
        alt="Haus"
        />
        <mat-card-content>
        <strong>{{Haus.shortHand}}</strong>
        <p>Typ: {{Haus.entry.type}}</p>
        <p>Adresse: {{Haus.entry.address}}</p>
        <p>PLZ: {{Haus.entry.postal}}</p>
        <p>Stadt: {{Haus.entry.city}}</p>
        <p>Größe: {{Haus.entry.size}}</p>
        <p>Beschreibung: {{Haus.entry.comment}}</p>
        </mat-card-content>
        <mat-card-actions >
          <button mat-button class="item" id="Button{{Haus.ID}}}" (click)="addToFavorites(Haus.ID)">Interessiert {{Haus.Interessenten}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
