<strong>Hauptmenü</strong>
  <div class="container">
    <div class="content"  *ngFor="let Haus of HausA">
      <mat-card class="item">
         <img
         routerLink="/haus/{{Haus.ID}}" routerLinkActive="active" ariaCurrentWhenActive="page"
        mat-card-image
        src="..\..\assets\Haus.jpg"
        alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <strong>{{Haus.Titel}}</strong>
          <p>Typ: {{Haus.Typ}}</p>
          <p>Adresse: {{Haus.Adresse}}</p>
          <p>Beschreibung: {{Haus.Beschreibung}}</p>
            
        </mat-card-content>
        <mat-card-actions >
          <button mat-button class="item" id="Button{{Haus.ID}}}" (click)="addToFavorites(Haus.ID)">Interessiert {{Haus.Interessenten}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
