<a [routerLink]="['/first-component', 123]">st Component</a>
<img    src="..\..\assets\Haus.jpg"    alt=""/>
<form>
    <label for="Titel_i">Titel: </label>
    <input type="text" id="Titel_i"  name="title" value = {{Haus.Titel}}><br>
    <label for="Adresse_i">Adresse: </label>
    <input type="text" id="Adresse_i" name="adress" value = {{Haus.Adresse}}><br>
    <label for="Typ_i">Typ: </label>
    <input type="text" id="Typ_i" name="type" value = {{Haus.Typ}}><br>
    <label for="Beschreibung_i">Beschreibung: </label>
    <input type="text" id="Beschreibung_i" name="info" value = {{Haus.Beschreibung}}><br>
</form>
<button> Aktualisieren </button>