<p>first works!</p>
<h1>daad</h1>
<button id="addToFav" onclick="addToFavorites();" value="1">Add to Favorites</button>
<li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">ond Component</a></li>
  <div class="container">
    <div class="content"  *ngFor="let Haus of HausA">
      <mat-card class="item">
         <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"

        />
        <mat-card-content>
          <p>
            <strong>
            {{Haus.Adresse}}</strong
            >
          </p>
        </mat-card-content>
        <mat-card-actions >
          <button mat-button>Like ❤️</button>
          <button mat-button>share 👍</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
